<div class="section shadow" id="header">
    <div class="container">
      <div class="row" style="margin-top: 20px;">
        <a [routerLink]="['/clients']" style="margin-top:auto;margin-bottom:auto;padding-left:30px;" class="text-dark" >
          <i class="fa fa-chevron-left fa-2x" ></i></a>
          <h5 style="font-size:1.2em;font-family: poppins;margin-left: 40px;margin-top:auto;margin-bottom:auto;font-style: continuous">
            Awaited
          </h5>
      </div>
      <div class="row" >
          <div class="col-sm-6 col-lg-6 active" style="text-align:center;margin-top: 30px;color:black;cursor: pointer;">
            <div [ngClass]="outgoing ? 'active-border' : 'active-border-none'" (click)="ShowAwaited('outgoing')">
              <p>
                <img src="../../../assets/icons/sign-out.svg" style="width:20px">
              Awaited Outgoing</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 active" style="text-align:center;margin-top: 30px;color:black;cursor: pointer;">
            <div [ngClass]="incoming ? 'active-border' : 'active-border-none'" (click)="ShowAwaited('incoming')">              
              <p>
                    <img src="../../../assets/icons/sign-in.svg" style="width:20px">

              Awaited Incoming</p>
            </div>
          </div>
      </div>
    </div>
</div>
<main class="card-wrapper"  style="overflow: hidden; margin-top: 50px;">
  <ng-container id="outgoing" class="outgoing" *ngIf="outgoing">
  <ng-container *ngIf="check">
      <div class="row" style="display:flex;background-color:white;min-height: -webkit-fill-available" >
          <div class="col-sm-12 col-md-6 col-lg-6" style="margin-top:25px;" *ngFor="let member of staticProductDetail" >
            <div class="row client-card" style="display:flex; background-color:#F1F1F1; width: 80%;margin-left: auto;margin-right: auto;padding: 5px;border-radius:20px">
              <div class="column-l" (click)="clientProfile(member.id)" style="width:50%">
                 <div style="padding:10px;border-radius: 30px;"> <img src="{{member.matched_to.profile_photo}}" style="width: 100%;height:250px;border-radius: 7px;" ></div>
              </div>
              <div class="column-r" style="width:50%">
                
                  <h6 style="font: size 1.3rem;margin-top:10px">&nbsp;&nbsp;<b>{{member.matched_to.name}}</b></h6>   
                  <p style="font-size:16px;margin-bottom:7px">&nbsp;&nbsp;{{member.matched_to.marital}}, &nbsp;{{member.matched_to.age}}yrs</p>
                  <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/graduation-hat.svg"style="width:40px;height:20px">{{member.matched_to.degree}}</p>
                  <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/ruler.svg" style="width:40px;height:20px">{{member.matched_to.feet}}'{{member.matched_to.inches}}"</p>       
                  <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/heart.svg" style="width:40px;height:20px">{{member.matched_to.manglik}}</p>
                  <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/briefcase-alt.svg" style="width:40px;height:20px">{{member.matched_to.yearly_income}}LPA,{{member.matched_to.occupation}}</p>             
                  <p style="font-size:16px"> <img src="./../../../assets/icons/map-marker.svg" style="width:40px;height:20px">{{member.matched_to.current_city}}</p>
                           
    
                  <div class="button" style="margin-top : 15px; display: flex">
                    <button type="button" class="card-button" (click) = "accept(member.id)" style="color:white;background-color: green;border: 5px solid green"><i class="fa fa-search"  style="width:20px;height:20px;color:white"></i>Accept</button>
                    <button type="button" class="card-button" (click) = "decline(member.id)" style="margin-left:10px;color:white;background-color:red;border: 5px solid red"><i class="fa fa-clock-o" style="width:20px;height:20px"></i>Decline</button>
                  </div>     
               </div>
            </div>
          </div>
        </div>
  </ng-container>
  <ng-container  *ngIf="check1">
      <div class="row">
          <div class="text-center" style="margin-left: auto;
          margin-right: auto;
          margin-top: 10%">
              <h6 style="font-size: 1.7rem;color:#E55A68">You have no new activity</h6>
          </div>
        </div>
  </ng-container>
  </ng-container>
  <ng-container id="incoming" class= "incoming" *ngIf = "incoming">
    <div class="row" style="display:flex;background-color:white;min-height: -webkit-fill-available" >
      <div class="col-sm-12 col-md-6 col-lg-6" style="margin-top:25px;" *ngFor="let member of awaitedIn" >
        <div class="row client-card" style="display:flex; background-color:#F1F1F1; width: 80%;margin-left: auto;margin-right: auto;padding: 5px;border-radius:20px">
          <div class="column-l" (click)="clientProfile(member.id)" style="width:50%">
             <div style="padding:10px;"> <img src="{{member.matched_to.profile_photo}}" style="width: 100%;height:250px;border-radius: 7px;" ></div>
          </div>
          <div class="column-r" style="width:50%">
            
              <h6 style="font: size 1.3rem;margin-top:10px">&nbsp;&nbsp;<b>{{member.matched_to.name}}</b></h6>   
              <p style="font-size:16px;margin-bottom:7px">&nbsp;&nbsp;{{member.matched_to.marital}}, &nbsp;{{member.matched_to.age}}yrs</p>
              <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/graduation-hat.svg"style="width:40px;height:20px">{{member.matched_to.degree}}</p>
              <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/ruler.svg" style="width:40px;height:20px">{{member.matched_to.feet}}'{{member.matched_to.inches}}"</p>       
              <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/heart.svg" style="width:40px;height:20px">{{member.matched_to.manglik}}</p>
              <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/briefcase-alt.svg" style="width:40px;height:20px">{{member.matched_to.yearly_income}}LPA,{{member.matched_to.occupation}}</p>             
              <p style="font-size:16px"> <img src="./../../../assets/icons/map-marker.svg" style="width:40px;height:20px">{{member.matched_to.current_city}}</p>
                       

              <div class="button" style="margin-top : 15px; display: flex">
                <button type="button" class="card-button" (click) = "accept(member.id)" style="color:white;background-color: green;border: 5px solid green"><i class="fa fa-search"  style="width:20px;height:20px;color:white"></i>Accept</button>
                <button type="button"  class="card-button" (click) = "decline(member.id)" style="margin-left:10px;color:white;background-color:red;border: 5px solid red"><i class="fa fa-clock-o" style="width:20px;height:20px"></i>Decline</button>
              </div>     
           </div>
        </div>
      </div>
    </div>
  </ng-container>
  
</main>





  <main style="position:fixed;bottom:0px;width: 100%;" class="card-wrapper">
    <div class="flex" style="background-color:#f1f1f1;display:flex;cursor: pointer;height: 60px">
        <div class="col-sm-4 col-md-4 col-lg-4" (click)="awaited()" style="text-align: center;padding: 5px">
          <img src="../../../assets/icons/pending.svg" style="width:27px">  <h6 style="font-size: 15px;padding: 2px;" class="active-border">Awaited</h6>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" (click)="connected()" style="text-align: center;padding: 5px;">
          <div >
          <img src="../../../assets/icons_white/heartbeat.svg" style="width:27px"><h6 style="font-size: 15px;padding: 2px;">Connected</h6>
        </div>
       </div>
        <div class="col-sm-4 col-md-4 col-lg-4" (click)="declined()" style="text-align: center;padding: 5px;">
          <img src="../../../assets/icons/cross.svg" style="width:27px"> <h6 style="font-size: 15px;padding: 2px;">Declined</h6>
         </div>
    </div>
</main>