<main class="card-wrapper">
  <div class="nav navbar" style="display:flex">
   
      <div class="flex">
        <button class="btn btn-success" (click)="toggle()">Awaited Incoming</button>
        <button class="btn btn-danger" (click)="toggle()">Awaited Outgoing</button>
    </div>
  </div>
  <ng-container *ngIf="show">
    <main class="card-wrapper"  >
      <div class="col-sm-12 col-md-6 col-lg-6" style="float:right" *ngFor="let member of awaitedOut">
         <div class="row" style="display:flexbox">
          <div class="column-l" >
            <img src="{{member.matched_to.profile_photo}}" style="height:250px;width: 100%">
          </div>
          <div class="column-r">
             
               <p>{{member.matched_to.age}}</p>   
               <p> <img src="" >{{member.matched_to.age}}yrs</p>
               <p> <img src="" >{{member.matched_to.degree}}</p>
               <p> <img src="" >{{member.matched_to.height}}</p>       
                <p> <img src="" >{{member.matched_to.about}}</p>
                <p> <img src="" >{{member.matched_to.job}}</p>             
                <p> <img src="" >{{member.matched_to.current_city}}</p>
                        

                    <div class="button" style="margin-top : 10px; display: fiex">
                      <button type="button" (click) = "getMatches(member.id)">Matches</button>
                      <button type="button" (click) = "getActivity(member.id)">Activity</button>
                    </div>     
            </div>
         </div>
    </div>
  </main>
  </ng-container>

  <ng-container *ngIf ="show">
    <main class="card-wrapper"  >
      <div class="col-sm-12 col-md-6 com-lg-6" style="float:right" *ngFor="let member of awaitedIn">
         <div class="row" style="display:flexbox">
          <div class="column-l" >
            <img src="{{member.matched_to.profile_photo}}" style="height:250px;width: 100%">
          </div>
          <div class="column-r">
             
               <p>{{member.matched_to.name}}</p>   
               <p> <img src="" >{{member.matched_to.age}}yrs</p>
               <p> <img src="" >{{member.matched_to.degree}}</p>
               <p> <img src="" >{{member.matched_to.height}}</p>       
               <p> <img src="" >{{member.matched_to.about}}</p>
               <p> <img src="" >{{member.matched_to.job}}</p>             
               <p> <img src="" >{{member.matched_to.current_city}}</p>
                        

                    <div class="button" style="margin-top : 10px; display: fiex">
                      <button type="button" >Accept</button>
                      <button type="button" >Decline</button>
                    </div>     
            </div>
         </div>
    </div>
  </main>
  </ng-container>
  
</main>