<div class="section shadow" id="header" style="background: white;">
    <div class="col input-group p-2-xs-8 col input-group p-2-sm-8 col input-group p-2-md-8 col input-group p-2-lg-8" style="display:flex;height:70px;">
        <a [routerLink]="['/clients']" style="margin-top:auto;margin-bottom:auto;padding-left:30px;" class="text-dark"><i class="fa fa-chevron-left fa-2x" ></i></a>
        <h5 style="font-size:1.2em;font-family: poppins;margin-left: 40px;margin-top:auto;margin-bottom:auto;font-style: continuous">Client Preferences</h5>
    </div>

</div>
<main class="modal-body">
        <form [formGroup]="AddClientEducationalDetails">
                <div class="container" style="padding : 30px"> 
                    <div class="section"  style="margin-left : auto;margin-right:auto">
                     

                        <div class="form-row ">
                           
                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput formControlName="min_age" placeholder="min_age*">
                                </mat-form-field>
                        </div>    
                        <div class="form-row ">
                                <mat-form-field class="full-width" appearance="outline">

                                    <input matInput formControlName="max_age" placeholder="max_age*">
                                </mat-form-field>
                            
                        </div>
                        <div class="form-row ">

                                <mat-form-field class="full-width" appearance="outline">

                                    <input matInput formControlName="min_income" placeholder="min_income*">
                                </mat-form-field>
                        </div>
                        <div class="form-row ">

                                <mat-form-field class="full-width" appearance="outline">

                                    <input matInput formControlName="max_income" placeholder="max_income*">
                                </mat-form-field>
                        </div>
                        <div class="form-row ">
                                <mat-form-field class="full-width" appearance="outline">

                                    <input matInput formControlName="min_height" placeholder="min_height*">
                                </mat-form-field>
                        </div>
                        <div class="form-row ">

                            <mat-form-field class="full-width" appearance="outline">

                                <input matInput formControlName="max_height" placeholder="max_height*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width" appearance="outline">

                                <mat-label>Occupation</mat-label>
                                <mat-select formControlName="occupation">
                                        <mat-option value="0">Not Working</mat-option>
                                        <mat-option value="1">Private Company</mat-option>
                                        <mat-option value="2">Business/ Self Employed</mat-option>
                                        <mat-option value="3">Government Job</mat-option>
                                        <mat-option value="4">Doctor</mat-option>
                                        <mat-option value="5">Teacher</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width" appearance="outline">

                                <!-- <input matInput formControlName="caste" placeholder="caste*"> -->
                                <mat-label>caste</mat-label>
                                <mat-select formControlName="caste" multiple>
                                        <mat-option value="3">A</mat-option>
                                        <mat-option value="1">B</mat-option>
                                        <mat-option value="2">C</mat-option>
                                        <!-- <mat-option value=""></mat-option> -->
                                        <!-- <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option>
                                        <mat-option value=""></mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Marraige</mat-label >

                                    <mat-select formControlName="marital_status">
    
                                        <mat-option value="0">Never Married</mat-option>
                                        <mat-option value="1">Divorced</mat-option>
                                        <mat-option value="2">Widowed</mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Manglik</mat-label>
                                    <mat-select matInput formControlName="manglik" >
                                        <mat-option value="0">Non Manglik</mat-option>
                                        <mat-option value="1">Manglik</mat-option>
                                        <mat-option value="2">Anshik Manglik</mat-option>
                                       
                                       
                                    </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Food Choice</mat-label>

                                    <mat-select formControlName="food_choice">
                                        <mat-option value="0">Vegetarian</mat-option>
                                        <mat-option value="1">Non-vegetarian</mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>citizenship</mat-label>
                                    <mat-select matInput formControlName="citizenship" >
                                        <mat-option value="0">Indian</mat-option>
                                        <mat-option value="1">NRI</mat-option>   
                                    </mat-select>

                            </mat-form-field>
                        </div>

                        <div class="input-group p-2">
                            <button class="btn btn-user" style="background-color: #f92c8b;width:400px"  type="button" (click)="addClient()"> Next Page</button>
                        </div>
                    </div>
                </div>
           
        </form>
    
</main>