<main class="card-wrapper" style="background-color:white; overflow: hidden;">

  <div class="modal-body">
    <div class="header">
        <h3>Add Client Details</h3>
    </div>
  </div>  
  
  <div class="row" style="display:flex">
    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">Personal</div>
    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">Social</div>
    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">Preferences</div>
  </div>


  <main class="section" >

    <div class="section">

      <div class="row" style="display:flex">
         <div class="col-sm-6 col-md-6 col-lg-6" style="float:left"></div>
         <div class="col-sm-6 col-md-6 col-lg-6" style="float:right"></div>
      </div>

      <div class="row"></div>

      <div class="row"></div>

      <div class="row"></div>

    </div>

  </main>

</main>