<main class="card-wrapper" style="background-color:#f1f1f1;">
    <main class="card-wrapper" style="background-color:#ffffff;">
        <div class="section shadow" id="header-2">
            <div class="row" style="margin: 0px; padding: 0px;">
                <div class="section shadow" id="header-1">
                    <div style="width: 100%">
                        <div class="row" style="margin-top: 20px;    width: fit-content;">
                            <a [routerLink]="['/clients']" style="margin-top:auto;margin-bottom:auto;padding-left:60px;" class="text-dark">
                                <i class="fa fa-chevron-left" style="font-size:1.3em"></i></a>
                            <h5 style="font-size:1.2em;font-family: poppins;margin-left: 40px;margin-top:auto;margin-bottom:auto;font-style: continuous">
                            Client Profile
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0px;padding: 0px;">
                <div class="container">
                    <div class="row text-center" style="margin: 32px;">
                        <div class="container">
                            <div class="row text-center header-row">
                                <img class="img-thumbnail rounded-circle mx-auto d-block " style="width:250px;height: 250px;" src="{{user.profile_photo}}">
                            </div>
                            <div class="image">
                                    <form  enctype="multipart/form-data">
                                        <label for="photo"> <img src="../../../assets/icons/camera-plus.svg" style="width: 40px;height: 40px"></label>
                                        <input type="file" name="filetoupload" id="photo" style="display:none" (change)="processfile($event)">
                                      </form>
                            </div>
                            <div class="row text-center header-row">
                                <strong class=" mx-auto d-block">
                        {{user.name}}
                      </strong>
                            </div>
                            <div class="row text-center header-row">
                                <!-- <div class=" mx-auto d-block"> -->
                                <div class="col-md-6 col-sm-6 col-lg-6  mx-auto d-block text-right">
                                    <div class="icon-phone">
                                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6   mx-auto d-block text-left">
                                    <div class="icon-whatsapp">
                                        <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row" style="color:#E55A69;">
                        <div class="col-sm-4 col-lg-4 active" style="text-align:center;margin-top: 30px;color:black;cursor: pointer;">
                            <div [ngClass]="personal ? 'active-border' : 'active-border-none'" (click)="ShowData('personal')">
                                <p>Personal</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 active" style="text-align:center;margin-top: 30px;color:black;cursor: pointer;">
                            <div [ngClass]="social ? 'active-border' : 'active-border-none'" (click)="ShowData('social')">
                                <p>Social</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 active" style="text-align:center;margin-top: 30px;color:black;cursor: pointer;">
                            <div [ngClass]="preferences ? 'active-border' : 'active-border-none'" (click)="ShowData('preferences')">
                                <p>Preferences</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="section" style="padding-top:30px;padding-bottom: 30px;margin: -5px 69px 100px 100px;">

        <main class="container" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">

            <div class="section">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-left" style="float:left;color:#F92C8B">
                        <div class="row">
                            <div class="icon">
                                <img src="../../../assets/icons_white/info-circle.svg">
                            </div>
                            <div style="color: #E55A69;margin: 14px;">
                                BASIC DETAILS
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="float:left;color:#F92C8B">
                            <div class="offset-11">
                            <div class="icons">
                                <img src="../../../assets/icons/pen.svg">
                            </div>
                          </div>
                    </div>
                </div>

                <div class="row" style=" margin-top:15px;">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Name</strong>

                        <h6>{{user.name}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Age</strong>

                        <h6>{{user.age}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Marital Status</strong>

                        <h6>{{user.marital_status}}</h6>
                    </div>
                </div>
                <hr/>
                <div class="row" style=" margin-top:15px;">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Height</strong>
                        <br>
                        <h6>{{user.height}} inches</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Weight(Kg)</strong>
                        <br>
                        <h6>{{user.weight}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Religion</strong>
                        <br>
                        <h6>{{user.religion}}</h6>
                    </div>
                </div>
                <hr/>

                <div class="row" style=" margin-top:15px;">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Food Choice</strong>
                        <br>
                        <h6>{{user.food_choice}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Gotra</strong>
                        <br>
                        <h6>{{user.gotra}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Caste</strong>
                        <br>
                        <h6>{{user.caste}}</h6>
                    </div>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Current City</strong>
                        <br>
                        <h6>{{user.current_city}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Salary</strong>
                        <br>
                        <h6>{{user.yearly_income}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Job Type</strong>
                        <br>
                        <h6>{{user.occupation}}</h6>
                    </div>
                </div>

            </div>

        </main>

        <main class="container" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">

            <div class="section">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" style="text-align:left;color: #f92c8b">
                        <div class="row">
                            <div class=" icon">
                                <img src="../../../assets/icons_white/balance.svg">
                            </div>
                            <div style="color: #E55A69;margin: 14px;">
                         HOROSCOPE DETAILS
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="float:left;color:#f92c8b">
                            <div class="offset-11">
                              <div class="icons">
                                <img src="../../../assets/icons/pen.svg">
                              </div>
                            </div>                   
                     </div>

                </div>

                <div class="row" style=" margin-top:15px;">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Mangalik Status</strong>

                        <h6>{{user.manglik}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Date of Birth</strong>

                        <h6>{{user.birth_date}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Time of Birth</strong>

                        <h6>{{user.birth_time}}</h6>
                    </div>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Birth Place</strong>

                        <h6>{{user.birth_place}}</h6>
                    </div>
                </div>
            </div>

        </main>

        <main class="container" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">

            <div class="section">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" style="float:left;color:#f92c8b">
                        <div class="row">
                            <div class=" icon">
                                <img src="../../../assets/icons_white/education.svg">
                            </div>
                            <div style="color: #E55A69;margin: 14px;">
                            Educational Details

                            </div>
                        </div>
                  </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="float:left;color:#f92c8b">
                            <div class="offset-11">
                              <div class="icons">
                                <img src="../../../assets/icons/pen.svg">
                              </div>
                            </div>                   
                     </div>

                </div>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">

                        <h6>{{user.degree}}, {{user.college}}</h6>
                    </div>
                </div>

            </div>

        </main>

        <main class="container" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">

            <div class="section">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" style="float:left;color:#f92c8b">
                        <div class="row">
                            <div class=" icon">
                                <img src="../../../assets/icons_white/briefcase.svg">
                            </div>
                            <div style="color: #E55A69;margin: 14px;">
                    Career Details
                            </div>
                        </div>

                  </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="float:left;color:#f92c8b">
                            <div class="offset-11">
                              <div class="icons">
                                <img src="../../../assets/icons/pen.svg">
                              </div>
                            </div>                   
                     </div>


                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Occupation</strong>

                        <h6>{{user.occupation}}</h6>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Organisation</strong>

                        <h6>{{user.organisation}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>City</strong>

                        <h6>{{user.city}}</h6>
                    </div>
                </div>

            </div>

        </main>

        <main class="container" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">

            <div class="section">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" style="float:left;color:#f92c8b">
                        <div class="row">
                            <div class=" icon">
                                <img src="../../../assets/icons_white/info-circle.svg">
                            </div>
                            <div style="color: #E55A69;margin: 14px;">
                    Contact Details
                            </div>
                        </div>
                  </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="float:left;color:#f92c8b">
                            <div class="offset-11">
                              <div class="icons">
                                <img src="../../../assets/icons/pen.svg">
                              </div>
                            </div>                   
                     </div>

                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>E-mail</strong>

                        <h6>{{user.email}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Phone</strong>

                        <h6>{{user.phone_number}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Whatsapp number</strong>

                        <h6>{{user.whatsapp_number}}</h6>
                    </div>
                </div>

            </div>

        </main>

        <main class="container" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">

            <div class="section">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" style="float:left;color:#f92c8b">
                        <div class="row">
                            <div class=" icon">
                                <img src="../../../assets/icons_white/couple.svg">
                            </div>
                            <div style="color: #E55A69;margin: 14px;">
                    Parent Details
                            </div>
                        </div>
                  </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="float:left;color:#f92c8b">
                            <div class="offset-11">
                              <div class="icons">
                                <img src="../../../assets/icons/pen.svg">
                              </div>
                            </div>                   
                     </div>

                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Father's Occupation</strong>

                        <h6>{{user.father_occupation}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Father's Status</strong>

                        <h6>{{user.father_status}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Mother's Occupation</strong>

                        <h6>{{user.mother_occupation}}</h6>
                    </div>
                </div>
                <hr/>

                <div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Mother's Status</strong>

                        <h6>{{user.mother_status}}</h6>
                    </div>
                </div>

            </div>

        </main>

        <main class="container" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">

            <div class="section">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" style="float:left;color:#f92c8b">
                        <div class="row">
                            <div class=" icon">
                                <img src="../../../assets/icons_white/twins.svg">
                            </div>
                            <div style="color: #E55A69;margin: 14px;">
                              Siblings
                            </div>
                        </div>
                  </div>
                                      <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="float:left;color:#f92c8b">
                            <div class="offset-11">
                              <div class="icons">
                                <img src="../../../assets/icons/pen.svg">
                              </div>
                            </div>                   
                     </div>

                </div>
                <div class="row" style=" margin-top:15px;">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Sister Married</strong>

                        <h6>{{user.married_daughter}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Sister Unmarried</strong>

                        <h6>{{user.Unmarried_daughter}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Brother Married</strong>

                        <h6>{{user.married_son}}</h6>
                    </div>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">
                        <strong>Brother Unmarried</strong>

                        <h6>{{user.Unmarried_son}}</h6>
                    </div>
                </div>

            </div>

        </main>
        <main class="container" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">

            <div class="section">

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6" style="float:left;color:#f92c8b">
                        <div class="row">
                            <div class=" icon">
                                <img src="../../../assets/icons_white/info-circle.svg">
                            </div>
                            <div style="color: #E55A69;margin: 14px;">
Partner Preferences                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="float:left;color:#f92c8b">
                            <div class="offset-11">
                              <div class="icons">
                                <img src="../../../assets/icons/pen.svg">
                              </div>
                            </div>                   
                     </div>


                </div>

                <div class="row" style=" margin-top:15px;">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Caste</strong>

                        <h6>{{User.id}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Mangalik</strong>

                        <h6>{{User.manglik}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Marital Status</strong>

                        <h6>{{User.marital_status}}</h6>
                    </div>
                </div>
                <hr/>

                <div class="row" style=" margin-top:15px;">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Age</strong>
                        <br>
                        <h6>{{User.min_age}} - {{User.max_age}}yrs</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Food Choice</strong>
                        <br>
                        <h6>{{User.food_choice}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Occupation</strong>
                        <br>
                        <h6>{{User.occupation}}</h6>
                    </div>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Income</strong>
                        <br>
                        <h6>{{User.yearly_income}} LPA</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Citizenship</strong>
                        <br>
                        <h6>{{User.citizenship}}</h6>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center">
                        <strong>Height</strong>
                        <br>
                        <h6>{{User.min_height}}-{{User.max_height}}</h6>
                    </div>
                </div>

            </div>

        </main>
    </main>
    <div class="container text-center">
        <button class="btn btn-danger" style="margin:50px;margin-left:auto;margin-right:auto;" (click)="delete()">Delete Client</button>
    </div>

</main>