  <div class="section shadow" id="header" style="background: white;">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="display:flex;height:70px;">
      <a [routerLink]="['/clients']" style="margin-top:auto;margin-bottom:auto;padding-left:30px;" class="text-dark" ><i class="fa fa-chevron-left fa-2x" ></i></a>
      <h5 style="font-size:1.2em;font-family: poppins;margin-left: 40px;margin-top:auto;margin-bottom:auto;font-style: continuous">Educational Details</h5>
    </div>

  </div>
<main class="modal-body">
  <div class="container" style="padding: 50px;margin: 10px;">
    <form [formGroup]="AddClientEducationalDetails">
    
      
          <select class="form-control" formControlName="degree">
            <option value="" [selected]="true" disabled="true">Degree</option>
            <option value="0">B.A</option>
            <option value="1">B.Com</option>
            <option value="2">B.E/B.Tech</option>
            <option value="4">B.Sc</option>
            <option value="5">B.Tech</option>
            <option value="6">Bachelors</option>
            <option value="13">Masters</option>
            <option value="16">Ph.D</option>
            <option value="15">Others</option>
          </select>

          <input class="form-control" formControlName="college" placeholder="Last college*">

          <select class="input-group p-2" formControlName="is_working">
              <option value="" disabled selected>is_working</option>
              <option value="0" disabled>No</option>
              <option value="1">Yes</option>
            </select>

          <input class="form-control" formControlName="yearly_income" placeholder="yearly_income*">

          <input class="form-control" formControlName="office_address" placeholder="office_address*">

          <input class="form-control" formControlName="sub_occupation" placeholder="sub_occupation*">

          <select class="input-group p-2" formControlName="occupation">
              <option value="" disabled selected>occupation</option>
              <option value="0">Not Working</option>
              <option value="1">Private Company</option>
              <option value="2">Business/ Self Employed</option>
              <option value="3">Government Job</option>
              <option value="4">Doctor</option>
              <option value="5">Teacher</option>
          </select>
 
      <div class="input-group p-2">
          <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>          
      </div>
  </form>
</div>
</main>

