<div class="section shadow" id="header" style="background: white;">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="display:flex;height:70px;margin-top : auto; margin-bottom : auto">
        <a [routerLink]="['/clients']" style="margin-top:auto;margin-bottom:auto;padding-left:60px;" class="text-dark">
                              <img src="../../../assets/icons_white/angle-left.svg" style="width:14px"></a>
        <h5 style="font-size:1.2em;font-family: poppins;margin-left: 40px;margin-top:auto;margin-bottom:auto;font-style: continuous">Client Educational Details</h5>
    </div>
<main class="modal-body">
<form [formGroup]="AddClientEducationalDetails">
    <div class="container" style="padding : 30px">
        <div class="section" style="margin-left : auto;margin-right:auto">
                    
            <div class="form-row ">
                <div class="col input-group p-2 ">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Degree</mat-label>
                        <mat-select  formControlName="degree">
                              <mat-option *ngFor="let ietm of degree" [value]="ietm.id">
                                        {{ietm.name}}
                                </mat-option>
                            <!-- <mat-option value="0">B.A</mat-option>
                            <mat-option value="1">B.Com</mat-option>
                            <mat-option value="2">B.E/B.Tech</mat-option>
                            <mat-option value="4">B.Sc</mat-option>
                            <mat-option value="5">B.Tech</mat-option> -->
<!--                             <mat-option value="0">High School</mat-option>
                            <mat-option value="1">Bachelors</mat-option>
                            <mat-option value="2">Masters</mat-option>
                            <mat-option value="3">Ph.D</mat-option>
                            <mat-option value="4">Others</mat-option>
 -->                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row ">
                <div class="col input-group p-2 ">

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>College</mat-label>
                        <input matInput formControlName="college" placeholder="Last college*">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row ">
                <div class="col input-group p-2 ">

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Work Status</mat-label>

                        <mat-select formControlName="is_working">

                            <mat-option value="0">Not Working</mat-option>
                            <mat-option value="1">Working</mat-option>
                            
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row ">
                <div class="col input-group p-2 ">

                    <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Annual Income (IN LPA)</mat-label>
                        <input matInput formControlName="yearly_income" type="number"  maxlength = "3" placeholder="yearly_income (IN LPA)*">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row ">
                <div class="col input-group p-2 ">
                   
                    <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Office Address</mat-label>
                        <input matInput formControlName="office_address" placeholder="office_address*">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row ">
                <div class="col input-group p-2 ">
                    
                    <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Sub Occupation</mat-label>
                        <input matInput formControlName="sub_occupation" placeholder="sub_occupation*">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row ">
                <div class="col input-group p-2 ">

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Occupation</mat-label>

                        <mat-select formControlName="occupation">

                            <mat-option value="0">Not Working</mat-option>
                            <mat-option value="1">Private Company</mat-option>
                            <mat-option value="2">Business/ Self Employed</mat-option>
                            <mat-option value="3">Government Job</mat-option>
                            <mat-option value="4">Doctor</mat-option>
                            <mat-option value="5">Teacher</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            
                


            <div class="input-group p-2">
                    <button type="button" mat-raised-button class="btn btn-user " style="width:400px;background-color: #f92c8b" (click)="addClient()"> &nbsp; &nbsp; Next Page &nbsp;&nbsp;
                    </button>
            </div>

    
        </div>
    <!-- </dic> -->
    </div>
</form>

</main>