
.full-width{
    width: 80% !important;
    margin-right: auto;
    margin-left: auto
  }
  
  .full-min-width{
    width: 150px !important;
  }
  
  
     
  .btn-user {
    font-size: 1rem;
    border-radius: 10rem;
    // padding: .75rem 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F92CBB;
    margin-top: 30px;
    color: white;
    font-weight: 600
  }
  
  #header{
    width: 100%;
     z-index: 100;
     height: 70px;
    background-color:white;
    // box-shadow: 10px 4px 10px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  }