<main class="card-wrapper">

  <div class="row">

  </div>

  <div class="row" style="display:flex">
    <div class="col-xs-6 col-md-6 col-lg-6" style="margin-left:auto;margin-right:auto">
      <div class="square">
        <p>Credits left : {{user.value}}</p>
      </div>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6">
        <div class="square" style="margin-left:auto;margin-right:auto">
          <p>Credits left : {{user.value}}</p>
        </div>
      </div>
  </div>

  <div class="section">
      <div class="row" style="display:flex">
          <div class="text">
              <h5>Refer and Earn</h5>
              <p> Earn 200 free credits for 30 days</p>
          </div>
          <div class="btn btn-user"> Refer </div>
      </div>
      <div class="row" style="display:flex">
          <div class="text">
              <h5>Rate us 5 stars</h5>
              <p>Earn 200 free credits for 30 days</p>
          </div>
          <div class="btn btn-user"> Refer </div>
      </div>
  </div>

</main>