.client{
    height: 40vh;
    // overflow: hidden;
}
h3{
    font-size:17px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    line-height: 0.8
}

#image{
    border-radius: 30px;
}

#details{
   margin-top: 10vh;
}