<div class="section shadow" id="header" >
  <div class="col-xs-6 col-sm-6 col-md-8 col-lg-9" style="display:flex;height:85px;outline: none;" (click)="hide()">
    <img [routerLink]="['/clients']" src="../../../assets/icons/icons-20.svg" style="outline: none;cursor:pointer;width: 80px;height:80px;margin-top:auto;margin-bottom:auto;padding-left:30px">
    <h5 style="font-size:1.4em;font-family: poppins;margin-left: 20px;margin-top:auto;margin-bottom:auto;color:#606060;font-style: continuous">Matchmakerz</h5>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-3 col-sm-6" style="display:flex;height:85px;">
    <div class="offset-md-5" style="margin-top: auto;margin-bottom: auto;">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-6 ">

        <div class="circle play" style="background-image:url('../../../assets/icons_white/bell.svg')" (click)="myFunction()">
          <div id="myDropdown" class="dropdown-content shadow" style="    overflow: auto;
    /*display: none;*/
    height: 600px;background: #f1f1f1">
          <ng-container *ngIf="notices?.length>'0'">
            <div class="row notification-item" (click)="NotView(notice)"  *ngFor="let notice of notices">

              <div class="col-xs-11 col-md-11 col-lg-11" >
                <div class="row">
                  <div >
                    <img class="rounded-circle" [src]="notice.matched_to_pic != null ? notice.matched_to_pic : 'https://img.icons8.com/color/1600/circled-user-male-skin-type-1-2.png' " style="width:50px;height:50px;margin-left: 10px">
                     <img class="rounded-circle" [src]="notice.matched_for_pic != null ? notice.matched_for_pic : 'https://img.icons8.com/color/1600/circled-user-male-skin-type-1-2.png'" style="width:50px;height:50px;margin-left: 10px">
                  </div>
                  <div>
                    <div>
                      <p style="font-size:.9em;margin-left: 10px">{{notice.mesg}}</p>
                    </div>
                    <div> <strong style="font-size:.9em;margin-left: 10px">
                      {{
                        notice.updated_at | date : medium : medium
                      }}
                    </strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 col-lg-1 text-center view-button">
                <div class="button-notification">
                    <button (click)="NotView(notice)" class="btn btn-primary text-center" style="margin-left: 0px;
                        width: 52px;
                        height: 29px;
                        font-size: 1em;
                        text-align: center;
                        font-size: 12px;
                      ">View</button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="notices?.length==='0'">
            <div class="container">
                <div class="row">
                  No New Notifications
                </div>
            </div>
          </ng-container>
          </div>
        </div>
      </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-6 ">
        <div class="circle" style="background:#f92c8b;    background-size: 40px;background-repeat: no-repeat;    background-position: center;background-image:url('../../../assets/icons/rupee.svg')" (click)="plans()"></div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row" style="width:100%">
  <div class="container">
    <div style="text-align: -webkit-center;margin-top: 3%;">
              <form [formGroup]="SearchClient" (ngSubmit)="SerachMyClients()">

      <div style="display: flex; width: 40%;   border-radius: 103px;
    height: 50px;
    display: flex;
    padding: 10px;outline: none;" class="form-control">
        <i class="fa fa-search" style="    padding: 5px;"></i>
        <input style="    border-radius: 100px;
    width: -webkit-fill-available;
    border: none;
    outline: none;"   type="text" placeholder="Serach" formControlName="search">

      </div>
    </form>
    </div>
  </div>
</div>
<main class="card-wrapper" style="overflow:hidden;padding: 20px;margin-bottom:10px" *ngIf="check" (click)="hide()">
  <div id="something" class="row" style="display:flex;background-color:white; margin-bottom: 60px">
    <div class="col-sm-12 col-md-8 col-lg-6"  style="margin-top: 75px" *ngFor="let member of staticProductDetail">
      <div class="row client-card shadow-sm" style="width:90%">
        <div class="column-l" (click)="clientProfile(member.id)" style="width:50%">
          <div style="padding:10px">
            <img src="{{member.profile_photo}}" style="width: 100%;height:270px;border-radius: 7px;">
          </div>
        </div>
        <div class="column-r" style="width:50%">
          <div class="row">
            <div (click)="getProfile(member.id)" style="cursor:pointer;color: #606060;">
              <h6 style="font-size:25px;margin-top:10px;color: #707070;font-weight: bold;">&nbsp;&nbsp;<b>{{member.name}}</b></h6> 
              <p style="font-size:16px;margin-bottom:7px">&nbsp;&nbsp;{{member.marital}}, &nbsp;{{member.age}}yrs</p>
              <p style="font-size:16px;margin-bottom:7px">
                <img src="./../../../assets/icons_white/graduation-hat.svg" style="width:40px;height:20px;margin-bottom: 5px">{{member.degree}}</p>
              <p style="font-size:16px;margin-bottom:7px">
                <img src="./../../../assets/icons/ruler.svg" style="width:40px;height:20px;margin-bottom: 5px">{{member.feet}}'{{member.inches}}"</p>
              <p style="font-size:16px;margin-bottom:7px">
                <img src="./../../../assets/icons/heart.svg" style="width:40px;height:20px;margin-bottom: 5px">{{member.manglik}}</p>
              <p style="font-size:16px;margin-bottom:7px">
                <img src="./../../../assets/icons_white/briefcase-alt.svg" style="width:40px;height:20px;margin-bottom: 5px">{{member.yearly_income}} LPA,{{member.occupation}}</p>
              <p style="font-size:16px">
                <img src="./../../../assets/icons/map-marker.svg" style="width:40px;height:20px;margin-bottom: 5px">{{member.current_city}}</p>
            </div>
            <div class="button" style="overflow:hidden; display: flex;">
              <button type="button"  class="card-button" (click)="getMatches(member.id, member.gender)" ><i class="fa fa-search" style="display: inline;padding:5px;overflow:hidden; width:20px;height:20px;color:white"  ></i>Matches</button>
              <button type="button" class="card-button" (click)="getActivity(member.id)" ><i class="fa fa-clock-o" style="display: inline;padding:5px;overflow:hidden;width:20px;height:20px"></i>&nbsp;Activity</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 100px">
    <button type="button" *ngIf="show" class="btn load-more" (click)="GetMore()">View More Clients</button>
    <button type="button" *ngIf="load_more" class="btn load-more-icon"> <i class="fa  fa-spinner fa-spin fa-3x" aria-hidden="true" style="color:#f92c8b;"> </i> </button>
  </div>
</main>
<main class="card-wrapper" style="overflow:hidden;padding: 20px;margin-bottom:10px" *ngIf ="check1" (click)="hide()">
  <div class="row">
    <div class="text-center" style="margin-left: auto;
    margin-right: auto;
    margin-top: 10%">
        <h6 style="font-size: 2rem;color:#F92CBB">You have no clients......</h6>
    </div> 
  </div>
</main>
  <div class="row" style="    width: 7%;
    /* margin-bottom: 7%; */
    position: fixed;
    margin-left: 80%;
    bottom: 11%;">
    <div style="width:45px;height:45px;background-size: 24px;margin-left:90%;cursor:pointer;margin-bottom: 30px" (click)="AddClient()">
      <img src='../../../assets/icons/test.svg' style="width: 75px;">
    </div>
  </div>
<div class="section" style="position:fixed;width:100%;bottom:0">

  <div class="card-wrapper shadow-sm" style="background-color:white;height:62px;padding:5px;display: flex;color:#f92c8b;margin-top:20px">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <a  class="active-border" (click)="ActiveBorder('clients')" routerLink="/clients" routerLinkActive="active" style="display:block;text-align: center; text-decoration: none;">
        <img src="../../../assets/icons/users-alt.svg" style="width:30px">
        <br>
        <p style="color:#f92c8b">My clients</p>
      </a>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
      <a  (click)="ActiveBorder('my_profile')" routerLink="/my-profile" routerLinkActive="active" style="display:block;;text-align: center; text-decoration: none;">
        <img src="../../../assets/icons_white/user.svg" style="width:24px;margin-top: -4px;">
        <br>
        <p style="color:#5d5a5a" >My Profile</p>
      </a>
    </div>
  </div>
</div>