.column-l{
    float: left;
    width: 50%;
    padding: 5px;
  }

  .column-r {
    float: right;
    width: 50%;
    padding: 5px; 
  }

  p {
    font-size : 15px;
    margin-bottom : 5px
}


.header{

z-index: 100;  
}
