<main class="card-wrapper" style="overflow:hidden;margin-bottom: 50px;">
<div class="section shadow" id="header">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="display:flex;height:70px;">
      <a [routerLink]="['/clients']" style="margin-top:auto;margin-bottom:auto;padding-left:30px;" class="text-dark" >
      <i class="fa fa-chevron-left fa-2x" ></i></a>
      <h5 style="font-size:1.2em;font-family: poppins;margin-left: 40px;margin-top:auto;margin-bottom:auto;font-style: continuous">
      Connected
      </h5>
  </div>
</div>

  <ng-container id="outgoing" style="margin-top: 30px;">
    <div class="row" style="display:flex;background-color:white;min-height: -webkit-fill-available;margin:30px;" >
      <div class="col-sm-12 col-md-6 col-lg-6" style="margin-top:25px;" *ngFor="let member of connect" >
        <div class="row client-card" style="display:flex; background-color:#F1F1F1; width: 80%;margin-left: auto;margin-right: auto;padding: 5px;border-radius:20px">
          <div class="column-l" (click)="clientProfile(member.id)" style="width:50%">
             <div style="padding:10px"> <img src="{{member.matched_to.profile_photo}}" style="width: 100%;height:250px" ></div>
          </div>
          <div class="column-r" style="width:50%">
            
              <h6 style="font: size 1.3rem;margin-top:10px">&nbsp;&nbsp;<b>{{member.matched_to.name}}</b></h6>   
              <p style="font-size:16px;margin-bottom:7px">&nbsp;&nbsp;{{member.matched_to.marital}}, &nbsp;{{member.matched_to.age}}yrs</p>
              <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons_white/graduation-hat.svg"style="width:40px;height:20px">{{member.matched_to.degree}}</p>
              <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/ruler.svg" style="width:40px;height:20px">{{member.matched_to.feet}}'{{member.matched_to.inches}}"</p>       
              <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons/heart.svg" style="width:40px;height:20px">{{member.matched_to.manglik}}</p>
              <p style="font-size:16px;margin-bottom:7px"> <img src="./../../../assets/icons_white/briefcase-alt.svg" style="width:40px;height:20px">{{member.matched_to.yearly_income}}LPA,{{member.matched_to.occupation}}</p>             
              <p style="font-size:16px"> <img src="./../../../assets/icons/map-marker.svg" style="width:40px;height:20px">{{member.matched_to.current_city}}</p>
                       

              <div class="button" style="margin-top : 15px; display: flex">
                <button type="button" class="card-button"  (click) = "shortlistCandidate(member.id)" style="color:white;background-color: green;border: 5px solid green"><i class="fa fa-search"  style="width:20px;height:20px;color:white"></i>Accept</button>
                <button type="button"  class="card-button"  (click) = "showInterestCandidate(member.id)" style="margin-left:10px;color:white;background-color:red;border: 5px solid red"><i class="fa fa-clock-o" style="width:20px;height:20px"></i>Decline</button>
              </div>     
           </div>
        </div>
      </div>
    </div>
  </ng-container>
</main>





  <main style="position:fixed;bottom:0px;width: 100%;" class="card-wrapper">
    <div class="flex" style="background-color:#f1f1f1;display:flex;cursor: pointer;height: 60px">
        <div class="col-sm-4 col-md-4 col-lg-4" (click)="awaited()" style="text-align: center;padding: 5px">
          <img src="../../../assets/icons/pending.svg" style="width:27px">  <h6 style="font-size: 15px;padding: 2px;">Awaited</h6>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" (click)="connected()" style="text-align: center;padding: 5px;">
          <div >
          <img src="../../../assets/icons_white/heartbeat.svg" style="width:27px"><h6 style="font-size: 15px;padding: 2px;" class="active-border">Connected</h6>
        </div>
       </div>
        <div class="col-sm-4 col-md-4 col-lg-4" (click)="declined()" style="text-align: center;padding: 5px;">
          <img src="../../../assets/icons/cross.svg" style="width:27px"> <h6 style="font-size: 15px;padding: 2px;">Declined</h6>
         </div>
    </div>
</main>