<main class="card-wrapper">
  <ng-container >
    <div class="row" style="display:flex;background-color: #F1F1F1;min-height: -webkit-fill-available" >
      <div class="col-sm-12 col-md-6 col-lg-6" style="margin-top:25px;" *ngFor="let member of connect" >
          <div class="row" style="display:flex; background-color: white; width: 90%;margin-left: auto;margin-right: auto">
            <div class="column-l" (click)="clientProfile(member.id)">
              <img src="{{member.profile_photo}}" style="height:250px;width: 100%" >
            </div>
            <div class="column-r">
              
                <h6>&nbsp;&nbsp;{{member.name}}</h6>   
                <p>&nbsp;&nbsp;{{member.age}}yrs</p>
                <p> <img src="./../../../assets/icons/graduation-hat.svg"style="width:40px;height:20px">{{member.degree}}</p>
                <p> <img src="./../../../assets/icons/graduation-hat.svg" style="width:40px;height:20px">{{member.height}}</p>       
                <p> <img src="./../../../assets/icons/heart.svg" style="width:40px;height:20px">{{member.about}}</p>
                <p> <img src="./../../../assets/icons/briefcase-alt.svg" style="width:40px;height:20px">{{member.job}}</p>             
                <p> <img src="./../../../assets/icons/map-marker.svg" style="width:40px;height:20px">{{member.current_city}}</p>
                         
  
                <div class="button" style="margin-top : 10px; display: fiex">
                  <button type="button" (click) = "getMatches(member.id)"><img src="./../../../assets/icons/search.svg" style="width:20px;height:20px">Matches</button>
                  <button type="button" (click) = "getActivity(member.id)"><img src="./../../../assets/icons/clock.svg" style="width:20px;height:20px">Activity</button>
                </div>     
             </div>
          </div>
      </div>
  </div>
  </ng-container>
  
</main>