<div class="modal-body">
    <div class="header">
        <h3>Add Client Details</h3>
    </div>
</div>    
<main class="modal-body">
      <form [formGroup]="AddClientDetails">
      
         <div class="no-filter">
             <div class="input-group p-2">
                    <input class="form-control" formControlName="name" placeholder="Name">
             </div>

             <div class="input-group p-2">
                    <input class="form-control" formControlName="phone_number" placeholder="phone_number">
            </div>

            <div class="input-group p-2">
                    <input class="form-control" formControlName="whatsapp_number" placeholder="whatsapp_number">
            </div>

            <div class="input-group p-2">
                <select class="form-control" formControlName="gender">
                    <option value="" [selected]="true" disabled="true">gender</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
            </div>   
           
         </div>

          <div class="filter1">

                <div class="input-group p-2">
                        <input class="form-control" formControlName="height" placeholder="Height(Inches)">
                </div>
                <div class="input-group p-2">
                        <input class="form-control" formControlName="birth_date" placeholder="Birth Date(YYYY-MM-DD)">  
                </div>
                <div class="input-group p-2">
                        <input class="form-control" formControlName="birth_place" placeholder="Birth Place*">  
                </div>
             
          </div>

          <div class="filter2">

                <div class="input-group p-2">
                        <input class="form-control" formControlName="weight" placeholder="Weight(Kg)">
                </div>
                <div class="input-group p-2">
                        <input class="form-control" formControlName="birth_time" placeholder="Birth Time(11:45)">  
                </div>
                <div class="input-group p-2">
                        <input class="form-control" formControlName="current_city" placeholder="Current City">
                </div>

          </div>
          
        <div class="no-filter">
            <div class="input-group p-2">
                    <select class="form-control" formControlName="food_choice" >
                        <option value="" [selected]="true" [disabled]="true">Food Choice</option>
                        <option value="0">Vegetarian</option>
                        <option value="1">Non-vegetarian</option>
                    </select>
            </div>
            <div class="input-group p-2">
                    <select class="form-control" formControlName="disability" >
                        <option value="" [selected]="true" [disabled]="true">Disability</option>
                        <option value="0">Not Disabled</option>
                        <option value="1">Disabled</option>
                    </select>
            </div>

            <div class="input-group p-2">
                    <input class="form-control" formControlName="disabled_part" placeholder="Disabled Part">
            </div>         
        </div> 
      
   
        <div class="input-group p-2">
            <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>          
        </div>
    </form>
</main>


<!--
    
    <main class="modal-body"  >
      <form [formGroup]="signupDetails">
        <div class="input-group p-2">
            <input  formControlName="first_name" placeholder="First Name" class="form-control">
        </div>
        <div class="input-group p-2">
            <input formControlName="last_name" placeholder="Last Name" class="form-control" >
          </div>
            <div class="input-group p-2">
                <select  formControlName="gender" required-placeholder="Gender" class="form-control" >
                  <option value="" disabled selected>Gender</option>
                  <option value="0">Male</option>
                  <option value="1">Female</option>
                </select>
            </div>
            <div class="input-group p-2">
                <select  formControlName="matchmaker_type" aria-placeholder="matchmaker_type" class="form-control" >
                  <option value="" disabled selected>matchmaker_type</option>
                  <option value="0">YES</option>
                  <option value="1">NO</option>
                </select>
            </div>
            <div class="input-group p-2">
                <input formControlName="phone_number" placeholder="phone_number" class="form-control" >
            </div>
            <div class="input-group p-2">
                <input formControlName="unique_about" placeholder="unique_about" class="form-control" >
            </div>
            <div class="input-group p-2">
                <input formControlName="specialization" placeholder="specialization" class="form-control" >
            </div>
            <div class="input-group p-2">
                <input formControlName="age" placeholder="age" class="form-control" >
            </div>
            <div class="input-group p-2">
                <input formControlName="whatsapp_number" placeholder="whatsapp_number" class="form-control" >
            </div>
            <div class="input-group p-2">
                <input formControlName="referred_by" placeholder="referred_by" class="form-control" >
            </div>
            <div class="input-group p-2">
                <textarea formControlName="about" placeholder="About You" class="form-control" ></textarea>
            </div>
            <div class="input-group p-2">
                <button class="btn btn-user" type="button" (click)="signup()" >  &nbsp;   &nbsp; Register &nbsp;&nbsp;</button>
            </div>
    
      </form>
    
    </main>
     -->