<main class="card-wrapper">
    <div class="card-wrapper">
      <div class="col-sm-12 col-md-6 com-lg-6">
        <div class="row" style="display: flex">
          <div class="column-l" >
            <img src="" style="height:200px;width: 100%">
          </div>
          <div class="column-r">
              <div id="name">
                <h5></h5>
              </div>
  
              <div id="name">         
               <p> <img src="" ></p>
              </div>
  
              <div id="name">         
                  <p> <img src="" ></p>
                 </div>
  
                 <div id="name">         
                    <p> <img src="" ></p>
                   </div>
  
                   <div id="name">         
                      <p> <img src="" ></p>
                     </div>
  
                     <div id="name">         
                        <p> <img src="" ></p>
                       </div>
  
                       <div id="name">         
                          <p> <img src="" ></p>
                         </div>
  
           
            <div class="flex">
               <button class="btb btn-success">Accept</button>
               <button class="btb btn-danger">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>