
<div class="modal-body" >
    <form [formGroup]="loginDetails">
     
        <input formControlName="email" required placeholder="Your Email">
        <br>
     
      
        <input type="password" matInput formControlName="password" required placeholder="Password">
     
        <br>

        <div class="text-center">
        <button class="btn btn-danger " (click)="submitLogin()" >  &nbsp;   &nbsp; Login &nbsp;&nbsp;
        </button>
        
      </div>
    
      
    </form>
</div>

 
 
   