<div class="section shadow" id="header" style="background: white;">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="display:flex;height:70px;">
        <a [routerLink]="['/clients']" style="margin-top:auto;margin-bottom:auto;padding-left:30px;" class="text-dark"><i class="fa fa-chevron-left fa-2x" ></i></a>
        <h5 style="font-size:1.2em;font-family: poppins;margin-left: 40px;margin-top:auto;margin-bottom:auto;font-style: continuous">Client Family</h5>
    </div>

</div>
<main class="modal-body">
    <div class="container" style="padding: 50px;margin: 10px;">
        <form [formGroup]="AddClientEducationalDetails">
            <div class="filter">
                <div class="container">
                    <div class="offset-5">
                        <div class="form-row ">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="hometown" placeholder="hometown*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="home_address" placeholder="home_address*">

                            </mat-form-field>
                        </div>
                        <div class="form-row ">

                            <mat-form-field class="full-width">

                                <input matInput formControlName="gotra" placeholder="gotra*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="mother_occupation" placeholder="mother_occupation*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="father_occupation" placeholder="father_occupation*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="family_income" placeholder="family_income*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="landline" placeholder="landline*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="married_son" placeholder="married_son*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="unmarried_son" placeholder="unmarried_son*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="married_daughter" placeholder="married_daughter*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="unmarried_daughter" placeholder="unmarried_daughter*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <input matInput formControlName="matchmaker_note" placeholder="matchmaker_note*">
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <mat-label>family_type</mat-label>
                                <mat-select formControlName="family_type">
                                    <mat-option value="0">No</mat-option>
                                    <mat-option value="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <mat-label>house_type</mat-label>
                                <mat-select formControlName="house_type">
                                    <mat-option value="0">No</mat-option>
                                    <mat-option value="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">

                                <mat-label>mother_status</mat-label>
                                <mat-select formControlName="mother_status">
                                    <mat-option value="0">No</mat-option>
                                    <mat-option value="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">
                                <mat-label>father_status</mat-label>
                                <mat-select formControlName="father_status">
                                    <mat-option value="0">No</mat-option>
                                    <mat-option value="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-row ">
                            <mat-form-field class="full-width">
                                <mat-label>is_active</mat-label>

                                <mat-select formControlName="is_active">
                                    <mat-option value="0">No</mat-option>
                                    <mat-option value="1">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <button type="button" mat-raised-button class="btn btn-user " style="width:400px;background-color: #f92c8b" (click)="addClient()"> &nbsp; &nbsp; Next Page &nbsp;&nbsp;
                            </button>

                            <!-- <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>    -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>