  <div class="section shadow" id="header" style="background: white;">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="display:flex;height:70px;">
      <a href="/clients" style="margin-top:auto;margin-bottom:auto;padding-left:30px;" class="text-dark" ><i class="fa fa-chevron-left fa-2x" ></i></a>
      <h5 style="font-size:1.2em;font-family: poppins;margin-left: 40px;margin-top:auto;margin-bottom:auto;font-style: continuous">Client Family</h5>
    </div>

  </div>
<main class="modal-body">
    <div class="container" style="padding: 50px;margin: 10px;">
    <form [formGroup]="AddClientEducationalDetails">
    
      
          <input class="input-group p-2" formControlName="hometown" placeholder="hometown*">

          <input class="input-group p-2" formControlName="home_address" placeholder="home_address*">

          <input class="input-group p-2" formControlName="gotra" placeholder="gotra*">

          <input class="input-group p-2" formControlName="mother_occupation" placeholder="mother_occupation*">

          <input class="input-group p-2" formControlName="father_occupation" placeholder="father_occupation*">

          <input class="input-group p-2" formControlName="family_income" placeholder="family_income*">

          <input class="input-group p-2" formControlName="landline" placeholder="landline*">

          <input class="input-group p-2" formControlName="married_son" placeholder="married_son*">

          <input class="input-group p-2" formControlName="unmarried_son" placeholder="unmarried_son*">

          <input class="input-group p-2" formControlName="married_daughter" placeholder="married_daughter*">

          <input class="input-group p-2" formControlName="unmarried_daughter" placeholder="unmarried_daughter*">

          <input class="input-group p-2" formControlName="matchmaker_note" placeholder="matchmaker_note*">

          <select class="input-group p-2" formControlName="family_type">
              <option value="" disabled selected>family_type</option>
              <option value="0">No</option>
              <option value="1">Yes</option>
          </select>

          <select class="input-group p-2" formControlName="house_type">
            <option value="" disabled selected>house_type</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
      
          <select class="input-group p-2" formControlName="mother_status">
            <option value="" disabled selected>mother_status</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <select class="input-group p-2" formControlName="father_status">
            <option value="" disabled selected>father_status</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    
        <select class="input-group p-2" formControlName="is_active">
          <option value="" disabled selected>is_active</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
           
           
       
     
 
      <div class="input-group p-2">
          <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>          
      </div>
  </form>
</div>
</main>

