<div class="container-fluid">
  <div id="near-you">
     <div class="header">
       <div style="float: left">
        <!--image here-->
         <h4>MATCHMAKER</h4>
      </div>
       <div style="float:right">
        <button class="mine">Are you a Matchmaker</button>
      </div>
     </div>
     <div class="row">
        <div class="searchnText">
            <div class="text">
               <h2>Search<br>Matchmakers near you</h2>
            </div>
            <div class="search">
                <form class="example">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div>
           <!--for image -->
        </div>        
     </div>
     <div class="row">
        <!-- Angular model class-->
     </div>
     <div class="footer">
        <div>
          <!-- for image-->
        </div>
        <div style="display:flex;margin-top:160px">
            <div class="col-sm-12 col-md-4 col-ls-4">
              <p style="font-size: 15px;display: inline-flex"><i class="far fa-envelope" style="font-size:40px"></i>H-18, Bali Nagar<br>New Delhi, India</p>  
            </div>
            <div class="col-sm-12 col-md-4 col-ls-4">
                <i class="fas fa-envelope">hi@matchmakerz.in</i>
            </div>
            <div class="col-sm-12 col-md-4 col-ls-4">
                <i class="far fa-envelope"></i>
            </div>
        </div>
        <div>
          
        </div>
     </div>
  </div>
</div>