<div class="modal-body"  >
    <form [formGroup]="EditProfileDetails">
      <input  formControlName="first_name" placeholder="First Name" class="form-control">
      <br>
      <input formControlName="last_name" placeholder="Last Name" class="form-control" >
      <br>
      <select  formControlName="gender" placeholder="Gender" class="form-control" >
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
       <br>
       <select formControlName="matchmaker_type" placeholder="Are you" class="form-control" >
        <option value="1">Yes</option>
        <option value="0">NO</option>
      </select>
       <br>
      <input formControlName="age" placeholder="age" class="form-control" >
      <br>
      <input formControlName="whatsapp_number" placeholder="whatsapp_number" class="form-control" >
      <br>
      <input formControlName="referred_by" placeholder="Referal Code (optional)" class="form-control" >
      <br>
      <textarea formControlName="about" placeholder="About You" class="form-control" ></textarea>
      <br>
      
    <button type="button" class="btn btn-danger " (click)="signin()" >  &nbsp;   &nbsp; Register &nbsp;&nbsp;
    </button>
  
    </form>
  
   </div>
