<div class="card-wrapper" style="overflow: hidden;background-color: #f1f1f1">

  <div class="row" style="display:flex;background-color:white;border-bottom: 3px groove #F1F1F1">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="float:left">
      <h5 style="font-size:30px"><img src="../../../assets/icons/icons-20.svg" style="width: 80px;">Matchmakerz</h5>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="display:flex;text-align: right">
        <div style="float:right;margin-left:40%;width: 60%">
          <img src="../../../assets/icons/rupee.svg" style="width: 10%;height: 5em;margin-right: 10%;">
          <img src="../../../assets/icons/play.svg" style="width: 10%;height: 5em;margin-right: 10%;">
          <img src="../../../assets/icons/close.svg" style="width: 10%;height: 5em;margin-right: 10%;">
        </div>
    </div>
 </div>

</div>

<main class="modal-body"  >
    <div class="row">
        <h3 style="font-family: 'Poppins', sans-serif ; font-size:20px; font-weight: 600; margin-left: auto;margin-right: auto;margin-top: -15px">Update Profile</h3>
    </div>
  <form [formGroup]="EditProfileDetails">
    <div class="input-group p-2">
        <input  formControlName="first_name" placeholder="First Name" class="form-control">
    </div>
    <div class="input-group p-2">
        <input formControlName="last_name" placeholder="Last Name" class="form-control" >
    </div>
    <div class="input-group p-2">
        <select  formControlName="gender"  value ="Gender" class="form-control" >
            <option value="" disabled selected>Gender</option>
            <option value="0">Male</option>
            <option value="1">Female</option>
          </select>   
    </div>
    <div class="input-group p-2">
        <input formControlName="phone_number" placeholder="phone_number" class="form-control" >
    </div>
    <div class="input-group p-2">
        <input formControlName="email" placeholder="email-id" class="form-control" >      
    </div>
    <div class="input-group p-2">
        <input formControlName="unique_about" placeholder="unique_about" class="form-control" >
    </div>
    <div class="input-group p-2">
          <input formControlName="specialization" placeholder="specialization" class="form-control" >
    </div>
    <div class="input-group p-2">
            <input formControlName="experience" placeholder="experience" class="form-control" >
    </div>
    <div class="input-group p-2">
      <input formControlName="age" placeholder="age" class="form-control" >
    </div>
    <div class="input-group p-2">
      <input formControlName="whatsapp_number" placeholder="whatsapp_number" class="form-control" >
    </div>
    <div class="input-group p-2">
        <textarea formControlName="about" placeholder="About You" class="form-control" ></textarea>
    </div>  
    <!-- <div class="input-group p-2">
      <input formControlName="location" placeholder="location" class="form-control" (keyup)="getlocation()">
     </div>   -->
    <div class="input-group p-2">
        <button type="button" class="btn btn-user " (click)="editProfile()" >  &nbsp;   &nbsp; Submit &nbsp;&nbsp;
          </button>        
    </div>  
  
  </form>

</main>
