
// * {box-sizing: border-box;}
// .filter{
//   display: inline-block;
//   border-right: 10px solid #f1f1f1
// }
// .container {
//   border-radius: 5px;
//   background-color: #ffffff;
//   padding: 20px;
//   display: inline-block;
// }




// h3{
//   font-size:20px;
//   font-weight: 500;
//   font-family: 'Courier New', Courier, monospace;
// }

// .header{
//   height: 60px;
//   border-bottom: 2px groove rgb(37, 37, 37);
  
// }

.modal-body{
	margin:25px;
}

.btn-user {
  font-size: 1rem;
  border-radius: 10rem;
  // padding: .75rem 1rem;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F92CBB;
  margin-top: 20px;
  color: white;
  font-weight: 600;
 -webkit-transition-property: width, height, background-color, box-shadow ;/* Safari */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-property:  width, height,background-color, border, box-shadow;
  transition-duration: 0.4s;
}
.btn-user:hover{
	-webkit-box-shadow: 0px 0px 17px -6px #9638FF; 
	box-shadow: 0px 0px 17px -6px #9638FF;
}
input , select {
  background-color: #f1f1f1;
}




#header{
   
   display:flex;
   width: 100%;
    z-index: 1;
   background-color:white;
   // box-shadow: 10px 4px 10px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}
