
* {box-sizing: border-box;}
.filter{
  display: inline-block;
  width: 25%;
  border-right: 10px solid #f1f1f1
}
.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  display: inline-block;
}

form{
margin-left: auto;
margin-right: auto
}


h3{
  font-size:20px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}

.header{
  height: 60px;
  border-bottom: 2px groove rgb(37, 37, 37);
  
}


.btn-user {
  font-size: 1rem;
  border-radius: 10rem;
  // padding: .75rem 1rem;
  // width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F92CBB;
  margin-top: 20px;
  color: white;
  font-weight: 600
}

input , select {
  background-color: #f1f1f1;
}


