<div class="container-fluid">
<div class="header">
    <h3>filter</h3>
</div>

<div class="container">
  <form>
      <div class="filter">
          <select id="" name="Gender" >
              <option value="Gender">Gender</option>
          </select>
          <select id="" name="Marital Status" >
              <option value="Marital Status">Marital Status</option>
          </select>
          <select id="" name="Food Choice" >
              <option value="Food Choice">Food Choice</option>
          </select>
          <select id="" name="Age" >
              <option value="Age">Age</option>
          </select>
          <select id="" name="Height" >
              <option value="Height">Height</option>
          </select>
      
      </div>
      <div class="filter">
          <select id="" name="Mangalik" >
              <option value="Mangalik">Mangalik</option>
          </select>
          <select id="" name="Occupation" >
              <option value="Occupation">Occupation</option>
          </select>
          <select id="" name="Citizenship" >
              <option value="Citizenship">Citizenship</option>
          </select>
          <select id="" name="Income" >
              <option value="Income">Income</option>
          </select>
          <select id="" name="Caste" >
              <option value="Caste">Caste</option>
          </select>
      
      </div>
  </form>
</div>
<div class="flex">
   <button class="style-button"> <a href="" >Apply filter</a></button>
</div>

</div>