<div class="section shadow" id="header">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="display:flex;height:70px;">
    <img src="../../../assets/icons/icons-20.svg" style="width: 60px;margin-top:auto;margin-bottom:auto;padding-left:30px">
    <h5 style="font-size:1.2em;font-family: poppins;margin-left: 20px;margin-top:auto;margin-bottom:auto;font-style: continuous">Matchmakerz</h5>
  </div>
  
</div>
<ngb-carousel *ngIf="images"  style="text-align: center;">
  <ng-template ngbSlide *ngFor="let image of images" style=" margin-left: auto;margin-right: auto;width: 100%;text-align: center">
    <!-- <i class="fa fa-ch"> -->
    <img [src]="image" alt="Random slide" style="height: -webkit-fill-available;width: 60%" >
  </ng-template>
</ngb-carousel>
