<header class='masthead'>
    <img>
</header>


<div class="flex">
  <div id="profile">
    <a href="" class="btn btn-1">
      <span class="txt">Click me</span>
      <!-- <span class="round"><i class="fa fa-chevron-right"></i></span> -->
    </a>
  </div>
  <div id="info">
    <a href="" class="btn btn-1">
        <span class="txt">Click me</span>
        <!-- <span class="round"><i class="fa fa-chevron-right"></i></span> -->
        </a>   
  </div>
</div> 
  <section class="introduction-section">
      <h1>About me</h1>
      <p>I am a construction business owner, part time marketer, and soon to be web developer.</p>
      <p>I love the internet, technology, and building beautiful things.</p>
  </section>
  <section class="location-section">
      <h1>Specialise in</h1>
      <p>the cup of tea tasted particularly good. By using the article the, 
          we've shown that it was one specific day that was long and one specific cup of tea that tasted good.</p>
  </section>
  <section class="questions-section">
      <h1>Referral code</h1>
     <p>the cup of tea tasted particularly good. By using the article the, we've shown that
          it was one specific  day that was long and one specific cup of tea that tasted good.</p>
  </section>

  <section class="questions-section">
        <h1>Location section</h1>
         <p>Delhi</p>    
  </section>
  
 
<div class="flex">
    <div id="profile">
        <a href="" class="btn btn-1">
        <span class="txt">Click me</span>
        <!-- <span class="round"><i class="fa fa-chevron-right"></i></span> -->
        </a>
    </div>
    <div id="info">
        <a href="" class="btn btn-1">
            <span class="txt">Click me</span>
            <!-- <span class="round"><i class="fa fa-chevron-right"></i></span> -->
            </a>   
    </div>
</div> 


<div class="flex">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <a routerLink="./clients" routerLinkActive = "active" ><button class="btn-primary pull-right" > view clients</button></a>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <a routerLink="./personal-details" routerLinkActive = "active" ><button class="btn-primary pull-right" >Edit Profile</button></a>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <button class="btn-primary pull-right"   (click) = "signout()"> signout</button>
  </div>  
</div> 
