<main class="card-wrapper" style="overflow: hidden;padding: 20px;background-color: #f1f1f1">
  <div class="row" style="display:flex;background-color:white;border-bottom: 3px groove #F1F1F1;margin-top: -20px">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="float:left">
      <h5 style="font-size:30px"><img src="../../../assets/icons/icons-20.svg"
          style="width: 50px;">&nbsp;&nbsp;Matchmakerz</h5>
    </div>
    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="display:flex;text-align: right">
            <div style="float:right;margin-left:40%;width: 60%">
              <img src="../../../assets/icons/rupee.svg" style="width: 10%;height: 5em;margin-right: 10%;">
              <img src="../../../assets/icons/play.svg" style="width: 10%;height: 5em;margin-right: 10%;">
              <img src="../../../assets/icons/close.svg" style="width: 10%;height: 5em;margin-right: 10%;">
            </div>
        </div> -->
  </div>
  <div class="card-header" id="title">
    <div class="section" style="background-color:#F1F1F1">
      <div class="row" style="display: block">
        <header class='masthead' style="padding:0">
          <img src="{{user.profile_pic}}" style="width:200px;height: -webkit-fill-available;border-radius: 50%">
        </header>
        <div class="masthead-intro"> {{user.first_name}} {{user.last_name}}</div>


      </div>

      <div class="flex">
        <div id="profile">
          <a href="" class="btn btn-1" style="cursor:pointer"><span class="txt">{{user.experience}} yrs
              Experience</span></a>
        </div>
        <div id="info">
          <a href="" class="btn btn-1" style="cursor:pointer"><span class="txt">{{user.clients}}Clients</span></a>
        </div>
      </div>

      <div class="section" style="margin-top:20px;width: 80%;margin-left: auto;margin-right:auto">
        <div class="card-body">
          <div style="font-size:25px">About me</div>
          <div style="font-size:18px;color:black">{{user.about}}</div>
        </div>
        <div class="card-body">
          <div  style="font-size:25px">Specialization</div>
          <div style="font-size:18px;color:black">{{user.specialization}}</div>
        </div>
        <div class="card-body">
          <div  style="font-size:25px">Referral Code</div>
          <div style="font-size:18px;color:black">{{user.unique_referral_code}}</div>
        </div>
        <div class="card-body">
          <div  style="font-size:25px">Location</div>
          <div style="font-size:18px;color:black">{{user.location}}</div>
        </div>
      </div>

      <div class="flex" style="min-height:200px">
        <div id="profile">
          <a href="" class="btn btn-1"><span class="txt">website</span></a>
        </div>
        <div id="info">
          <a href="" class="btn btn-1"><span class="txt">Share</span></a>
        </div>
      </div>
    </div>

<!-- </main> -->

<div class="section" style="position:fixed;width:100%;bottom:0">
  <!-- <div class="row">
         <div class="col-sm-4 col-md-4 col-lg-4" style="margin-left:auto;margin-right: 0px">
           <a routerLink="/edit-profile" routerLinkActive = "active"><img src="../../../assets/icons/pen.svg" style="width:40px;float: right"></a>
        </div>
    </div> -->
  <div class="card-wrapper" style="background-color:white;display: flex;min-height: 100px">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <a routerLink="/clients" routerLinkActive="active" style="display:block;color: violet;text-align: center"><img
          src="../../../assets/icons/icons-16.svg" style="width:40px"><br>view clients</a>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
      <a routerLink="/clients" routerLinkActive="active" style="display:block;color: violet;text-align: center"><img
          src="../../../assets/icons/icons-17.svg" style="width:40px"><br>Add Clients</a>
    </div>
    <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a routerLink="/clients" routerLinkActive = "active"  style="display:block;color: violet;text-align: center">Edit Profile</a>
      </div> -->
  </div>
</div>